* @CesarPantoja1 @Nick09V @danielfernando4 @OscarTumbaco

/backend/ @CesarPantoja1 @Nick09V @danielfernando4 @OscarTumbaco
/frontend/ @CesarPantoja1 @Nick09V @danielfernando4 @OscarTumbaco
/.github/ @CesarPantoja1 @Nick09V @danielfernando4 @OscarTumbaco
/.github/workflows/ @CesarPantoja1 @Nick09V @danielfernando4 @OscarTumbaco
