# ==========================================
# Supabase Configuration
# ==========================================
SUPABASE_URL=https://uwfccpttskutpvtzijug.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3ZmNjcHR0c2t1dHB2dHppanVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3Mzg5ODEsImV4cCI6MjA5OTMxNDk4MX0.Dl8g6Uog-nbmlvNlUWmlqqcG3k5pUnbClABt4LZNi48
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3ZmNjcHR0c2t1dHB2dHppanVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzczODk4MSwiZXhwIjoyMDk5MzE0OTgxfQ._j5vpLlEWM-08_K88JksW6j6gIDBT-cL9mC9EPRjJwE
SUPABASE_JWT_SECRET=3BPmrPyBmkTTs1P3df67buP3kLqAGDRv7sof+smkVQOA7Gt+eHbQECplMj4yt8i6xUzcz6/vzvtozDbuSJamfw==

# ==========================================
# Application Secrets
# ==========================================
AUDIT_HMAC_SECRET=bfa0595e614d63d7d85b8977ed13a2fcd15dacebb1d9df8422741d4b3d6456d4
FIELD_ENCRYPTION_KEY=c-M6gJkWs5X6Dv4sdG73SsvyJa5z0q3UwBlwK5IXKG0=

# ==========================================
# AWS Configuration
# ==========================================
AWS_ACCESS_KEY_ID=tu_aws_access_key
AWS_SECRET_ACCESS_KEY=tu_aws_secret_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=nombre-de-tu-bucket-s3

